* {
  box-sizing: border-box;
}

html {
  font-family: 'Uchen', serif;
}

form {
  border: 8px;
}

fieldset {
  border: none;
  background-color: #f4f7f8;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select, input {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  background-color: #e8eeef;
  color: black ;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  border-bottom: 2px solid grey;
  margin-bottom: 30px;
  border-radius: 4px;
}

select, input, textarea {
  transition: background-color 2s ease;
}

input:focus,textarea:focus, select:focus{
  border-bottom:  2px solid red;
  background-color: #a8adad
}
  
input[type="submit"]{
  background-color: #008080;
  color: white;
}
input[type="submit"]:focus {
  background-color: rgb(4, 151, 151);;
}

#type #format{
  border: none;
}

label {
  color: #8a97a0;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}
.container {
  justify-content: space-between
}

body > .container {
  text-align: center;
}

#contact .container {
  display: flex;
  flex-direction: column;
}
#newsletter .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#newsletter label {
  flex-basis: 100%;
}

.code-review {
  color: white;
  background-color: teal;
  margin: inherit;
  text-align: center;
  height: 75px;
  display: flex;
  justify-content: center;
}

#contact > legend , #newsletter > legend {
  text-align: center;
}

input[type="text"]::placeholder {  
 text-align: end;
} 
input[type="email"]::placeholder {  
 text-align: end;
} 

input[id="zip-code"] {
  width: 50%;
}
.copywrite {
  color: #8a97a0;
}

@media (min-width: 768px)  {
  
  #contact,
  #newsletter {
    border-top: solid 2px black;
    max-width: 768px;
    margin: 0 auto;
  }
  #contact .container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
  }
  #contact .container label {
    flex-basis: 25%;
  }
  #contact .container input,
  #contact .container select {
    flex-basis: 75%;
    flex-grow: 1;
    margin-bottom: 0;
  }
  #zip-code {
    max-width: 25%;
  }
 
}