* {
  box-sizing: border-box;
}

html {
  font-family: 'Uchen', serif;
}

form {
  border: 8px;
}

fieldset {
  border: none;
  background-color: #f4f7f8;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select, input {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  background-color: #e8eeef;
  color: black ;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  border-bottom: 2px solid grey;
  margin-bottom: 30px;
  border-radius: 4px;
}

input:focus {
  border-bottom:  2px solid rgb(3, 143, 22);;
}

#type #format{
  border: none;
}

label {
  color: #8a97a0;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}
.container {
  justify-content: space-between
}

body > .container {
  text-align: center;
}

#contact .container {
  display: flex;
  flex-direction: column;
}
#newsletter .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#newsletter label {
  flex-basis: 100%;
}

.code-review {
  color: white;
  background-color: teal;
  margin: inherit;
  text-align: center;
}

#contact > legend , #newsletter > legend {
  text-align: center;
}

input[type="text"]::placeholder {  
 text-align: end;
} 
input[type="email"]::placeholder {  
 text-align: end;
} 

input[id="zip-code"] {
  width: 25%;
}

@media (min-width: 768px)  {
  
  #contact, #newsletter {
    border-top: solid 2px black;
    width: 38%;
  }
  body .contact{
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  #contact .container {
   flex-direction: row;
  }
  #contact .container label {
    flex-basis: 25%;
  }
  #contact .container input {
    flex-basis: 75%;
  }

  input[id="zip-code"] {
    width: 50%;
   }
 
}